{% load static tailwind_cli django_htmx %}
<!DOCTYPE html>
<html lang="en">
<meta name="description" content="Mental Reload App">
<meta name="keywords" content="mental reload app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% django_htmx_script %}
</head>
<body>
    
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>